.form_container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_container input {
    width: 70%;
    margin-top: 20px;
    padding: 10px;
}

.form_container a {
    text-decoration: none;
}

.long_image {
    width: 100%;
    height: 100vh;
    display: flex;
}

.long_image img {
    width: 100%;
    height: 100vh;
    display: flex;

}